<div class="header">
  <div class="title">
    <%= link_to "No LIVE No LIFE", root_path %>
  </div>
  <div class="right-header">
    <div class="current-user">ユーザー
      <%#= link_to current_user.nickname, edit_user_path(current_user) %>
    </div>
    <div class="logout">
      <%= link_to "ログアウト", user_session_path %>
    </div>
</div>