<div class="header">
  <div class="left-header">
    <div class="title">
    <%= link_to "No LIVE , No LIFE", root_path, class:"under-bar" %>
    </div>
  </div>
  <div class="right-header">
    <div class="current-user">
    <%= link_to current_user.nickname, edit_user_registration_path(current_user), class:"under-bar" %>
    </div>
    <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"under-bar" %>
    </div>
  </div>
</div>